/* SECTION THREE */
	.sectionThree {
		padding: 3.5% 0%;
    	background-image: linear-gradient(rgba(1,55,21,0.5), rgba(1,55,21,0.5)), url('WestAshleyPark.webp');
		background-size: cover;
   		background-position: center;
    	background-repeat: no-repeat;}

	.sectionThreeContent {
		display: flex;
    	align-items: center;
    	justify-content: space-between;
		margin: 0 10%;}


	.sectionThreeLeftSide {
		width: 60%;
		border: clamp(0.5rem, 2vw, 1.5rem) solid white;
		border-radius: 4px;
  		box-shadow: 0 6px 15px rgba(0,0,0,0.2), 0 18px 35px rgba(0,0,0,0.3);}

	.sectionThreeRightSide {
    	width: 40%;}


/*#region INPUT FORM SECTION*/
	.inputForm {border: none; font-family: FuturaDisplay; text-align: center; background-color: #ECE5DC; width: 100%;}
		.inputForm table {width: 100%; }
	
		.inputForm th {font-size: 3vw;}
		.inputForm td h1 {font-size: 1.5vw;}
	
		.inputForm td {border: none; padding: 1% 2%; text-align: left;}
		.inputForm .inputFormInput {width:100%; height:10%; font-size:1.25vw; border-radius: 10px;}

		#navButtons .inputFormButton {
    	margin-top: 0.5em;  /* adds a small gap from above */
		margin-bottom: 0.5em;
		}

		.inputFormButton {
			background-color: white;
    color: black;
     font-size: clamp(12px, 1vw, 16px);
    border: 2px solid black;
    padding: 0.5em 1em;    /* scales naturally with text size */
    border-radius: 0px;
    cursor: pointer;
    display: none;
	margin: 0px;
}.inputFormButton:hover { background-color: #19421A; color: white;}

		.inputFormThanks {margin: 0% 10% 0% 10%; border: none; padding: 0% 1%; font-family: FuturaDisplay; text-align: center; font-size: 2vw; font-style: italic; color: white;}

